{% load static %}

<link rel="icon" href="{% static 'favicon.ico' %}"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<link href="{% static 'trades/css/argon.css' %}" rel="stylesheet">


<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
<title>About | tnbCrow</title>
<meta name="description" content="We provide escrow services to buyer and seller for secure transaction of TNBC." />

<meta property="twitter:image" content="{% static 'og.png' %}">
<meta property="og:image" content="{% static 'og.png' %}">

<body class="bg-default">
<!-- Navbar info -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light position-sticky fixed-top shadow">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img width="150" src="{% static 'logo_wordmark.png' %}"> </a>
            <a class="nav-link nav-link-icon ml-auto" href="https://discord.com/invite/4uQ24mNxXj" target="_blank">
            <i class="fab fa-discord fa-lg"></i>
            </a>
            <a class="nav-link nav-link-icon" href="https://twitter.com/tnbcrow" target="_blank">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>
            </div>
        </div>
    </nav>
</body>