{% load static %}
{% load humanize %}
{% load app_filters %}

<link rel="icon" href="{% static 'favicon.ico' %}"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<link href="{% static 'trades/css/argon.css' %}" rel="stylesheet">

<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
<title>escrow for TNBC | tnbCrow</title>
<meta name="description" content="We provide escrow services to buyer and seller for secure transaction of TNBC." />

<meta property="twitter:image" content="{% static 'og.png' %}">
<meta property="og:image" content="{% static 'og.png' %}">

<body class="bg-default">
<!-- Navbar info -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light position-sticky fixed-top shadow">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img width="150" src="{% static 'logo_wordmark.png' %}"> </a>
            <a class="nav-link nav-link-icon ml-auto" href="{% url 'blacklistedaccounts' %}">
                Blacklisted Wallets
            </a>
            <a class="nav-link nav-link-icon" href="https://discord.com/invite/4uQ24mNxXj" target="_blank">
            <i class="fab fa-discord fa-lg"></i>
            </a>
            <a class="nav-link nav-link-icon" href="https://twitter.com/tnbcrow" target="_blank">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>
            </div>
        </div>
    </nav>
  <div class="main-content">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-5">
      <div class="container-fluid">
        <h2 class="mb-5 text-white">Manual escrow statistics</h2>
        <div class="header-body">
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Escrows</h5>
                      <span class="h2 font-weight-bold mb-0">{{ object_list.stats.total_escrows|intcomma }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Total Escrows Completed</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Coins</h5>
                      <span class="h2 font-weight-bold mb-0">{{ object_list.stats.total_coins|intcomma }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Total coins escrowed</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Weighted Average Rate</h5>
                      <span class="h2 font-weight-bold mb-0">${{ object_list.stats.weighted_rate|div:10000 }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Last 20 escrows</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Over</h5>
                      <span class="h2 font-weight-bold mb-0">${{ object_list.stats.total_transactions|intcomma }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">in Transactions Escrowed</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
  </div>
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <div class="row">

        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Recent Escrows</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Buyer</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>
                    <th scope="col">At</th>
                  </tr>
                </thead>
                <tbody>
                {% for info in object_list.trades %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                        {% if info.buyer_public %}
                          <span class="mb-0 text-sm">{{ info.buyer }}</span>
                        {% else %}
                          <span class="mb-0 text-sm">********</span>
                        {% endif%}
                        </div>
                      </div>
                    </th>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                        {% if info.seller_public %}
                          <span class="mb-0 text-sm">{{ info.seller }}</span>
                        {% else %}
                          <span class="mb-0 text-sm">********</span>
                        {% endif%}
                        </div>
                      </div>
                    </th>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                        {% if info.agent_public %}
                          <span class="mb-0 text-sm">{{ info.agent.discord_username }}</span>
                        {% else %}
                          <span class="mb-0 text-sm">********</span>
                        {% endif%}
                        </div>
                      </div>
                    </th>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> ${{ info.rate|div:10000 }}
                      </span>
                    </td>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ info.amount|intcomma }}</span>
                        </div>
                      </div>
                    </th>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ info.created_at|naturaltime }}</span>
                        </div>
                      </div>
                    </th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright" style='overflow-wrap: break-word;'>
          <p>Shown above are the manual escrows done by tnbCrow verified escrow agents.</p>
          <p>Donate: fee7845b3c38bdf8ba4f2e6a9e91f194c883aafae211b5b9ad8fde161b02d996 </p>
          <a class="nav-link nav-link-icon" href="{% url 'statistic-list' %}">
                Stats API
          </a>
          <a class="nav-link nav-link-icon" href="{% url 'completedtrade-list' %}">
                Recent Trade API
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
